

<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <ion-menu side="start" class="my-custom-menu">
    <ion-header>
      <ion-toolbar translucent>
        <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
        <ion-title class="title-menu"> Centros de Atención </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
     <img class="logo" src="assets/images/Logo.svg">
        <ion-item text-center class="text-menu" routerLink="/home" id="M1"><ion-label>Centros de Atención</ion-label></ion-item>
        <ion-item text-center class="text-menu" routerLink="/Tips"><ion-label>Tips</ion-label></ion-item>
        <ion-item text-center class="text-menu" routerLink="/blog"><ion-label>Blog</ion-label></ion-item>
        <ion-item text-center class="text-menu" routerLink="/galeria"><ion-label>Galeria</ion-label></ion-item>
        <ion-item text-center class="text-menu"><ion-label>Salir</ion-label></ion-item>
        <ion-item offset="1" >
          <ion-icon name="logo-facebook"></ion-icon>
          <ion-icon name="logo-instagram"></ion-icon>
          <ion-icon name="logo-whatsapp"></ion-icon>
          </ion-item>
          <ion-item offset="1" >
          <img class="icono" src="assets/icon/usa.svg">
          <img class="icono" src="assets/icon/mexico.svg">
        </ion-item>
        </ion-list>
    </ion-content>
  </ion-menu>
  <div class="ion-page" main>
<ion-header>
  <ion-toolbar>
    <ion-title>
      Noticias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ios list-ios hydrated">
    <ion-list-header class="ios hydrated">
      Notas
    </ion-list-header>

    <ion-item *ngFor="let nota of Notas" class="user-list">
      <ion-card-content>
      <h5>
          <ion-icon name="person"></ion-icon> {{nota.nombre}}
        </h5>
        <p>
          <ion-icon name="call"></ion-icon> {{nota.telefono}}
        </p>
        <p>
          <ion-icon name="call"></ion-icon> {{nota.email}}
        </p>
        <p align="justify">{{nota.descripcion}}</p>
        
      </ion-card-content>
      <div class="item-note" item-end>
        <button ion-button clear [routerLink]="['/editar-blog/', nota.$key]">
          <ion-icon name="create" style="zoom:2.0"></ion-icon>
        </button>
        <button ion-button clear (click)="deleteNota(nota.$key)">
          <ion-icon name="trash" style="zoom:2.0"></ion-icon>
        </button>
      </div>
    </ion-item>
  </ion-list>
</ion-content>

  <ion-tabs>
    <ion-tab-bar>
        <ion-tab-button routerLinkActive="tab-selected" routerLink="/crear-blog" >
          <img id="logo-boton" src="assets/icon/Logo.ico">
          <br>
          <ion-label>Crear Noticia</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </div>
</ion-app>