
<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <ion-menu side="start" class="my-custom-menu">
    <ion-header>
      <ion-toolbar translucent>
        <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
        <ion-title class="title-menu"> Centros de Atención </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
     <img class="logo" src="assets/images/Logo.svg">
        <ion-item text-center class="text-menu" routerLink="/home" id="M1"><ion-label>Centros de Atención</ion-label></ion-item>
        <ion-item text-center class="text-menu" routerLink="/Tips"><ion-label>Tips</ion-label></ion-item>
        <ion-item text-center class="text-menu" routerLink="/blog"><ion-label>Blog</ion-label></ion-item>
        <ion-item text-center class="text-menu" routerLink="/galeria"><ion-label>Galeria</ion-label></ion-item>
        <ion-item text-center class="text-menu" ><ion-label>Salir</ion-label></ion-item>
        <ion-item offset="1" >
          <ion-icon name="logo-facebook"></ion-icon>
          <ion-icon name="logo-instagram"></ion-icon>
          <ion-icon name="logo-whatsapp"></ion-icon>
          </ion-item>
          <ion-item offset="1" >
          <img class="icono" src="assets/icon/usa.svg">
          <img class="icono" src="assets/icon/mexico.svg">
        </ion-item>
        </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" main>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="titulo-home">Centros de atención</ion-title>
  <ion-icon id="logo-home" ios="ios-search" md="md-search"></ion-icon>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div id="map"></div>
    </ion-content>
  </div>
</ion-app>

