$fondo:#00C3A0;
.logo{
    display:inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -86%;
    margin-top: -18%;
}

.txt-input{
    color:white;
    font-family: 'Rancho', cursive;
    font-size: 28px;
}
.borde{
    border-bottom:3px solid white;
}

.botones{
    font-family: 'Rancho', cursive;
    font-size: 15px;
    --border-radius: 15px;
}

ion-content{
    --ion-background-color:#00C3A0;
}
ion-icon{
    font-size:1.8em;
    margin-right: 3%;
    margin-top: 5%;
    color: white;
    margin-left: 4%;
}
.text-login{
    display: inline-block;
    font-size: small;
    font-family: 'Rancho', cursive;
    margin-right: 3%;
}
//responsive
@media (min-width:360px){
    .logo{
        display:inline-block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: -98%;
        margin-top: -34%;
    }
    ion-icon{
        font-size: 2em;
        margin-right: 4%;
        margin-top: 5%;
        color: white;
        margin-left: 4%;
    }
    .text-login{
        display: inline-block;
        font-size: xx-large;
        font-family: "Rancho", cursive;
        margin-right: 2%;
        margin-left: 0%;
    }
}
@media (min-width:768px){
    .logo{
        display:inline-block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: -62%;
        margin-top: -18%;
    }
    ion-icon{
        font-size: 50px;
        margin-right: 6%;
        margin-top: 5%;
        color: white;
        margin-left: 6%;
    }
    .text-login{
        display: inline-block;
        font-size: xx-large;
        font-family: "Rancho", cursive;
        margin-right: 12%;
        margin-left: 12%;
    }
}
@media (min-width:1024px){
    .logo{    
        display:inline-block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: -46%;
        margin-top: -15%;
    }
    .botones{
        font-family: 'Rancho', cursive;
        margin-top: 18px;
        --border-radius: 15px;
    }
    ion-icon{
        font-size: 60px;
        margin-right: 6%;
        margin-top: 5%;
        color: white;
        margin-left: 6%;
    }
    .text-login{
        display: inline-block;
        font-size: xx-large;
        font-family: "Rancho", cursive;
        margin-right: 12%;
        margin-left: 12%;
    }
    h4{
        font-size: 29px;
    }
}